@charset "UTF-8";

/* Flexbox -> Margin -> Border -> Background -> Padding -> Height/Width -> Objects */

/*
 * General styling for all webpages.
 */

@font-face { /* JetBrains Mono, Regular */
    font-family: "JetBrains Mono", monospace;
    src: url("../assets/fonts/JetBrains/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face { /* JetBrains Mono, Italic */
    font-family: "JetBrains Mono Italic", monospace;
    src: url("../assets/fonts/JetBrains/JetBrainsMono-Italic.woff2") format("woff2");
}

@font-face { /* JetBrains Mono, Bold */
    font-family: "JetBrains Mono Bold", monospace;
    src: url("../assets/fonts/JetBrains/JetBrainsMono-Bold.woff2") format("woff2");
}

@font-face { /* JetBrains Mono, Bold-Italic */
    font-family: "JetBrains Mono BoldItalic", monospace;
    src: url("../assets/fonts/JetBrains/JetBrainsMono-BoldItalic.woff2") format("woff2");
}

@font-face { /* Montserrat, Regular */
    font-family: "Montserrat", sans-serif;
    src: url("../assets/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2");
}

@font-face { /* Montserrat, Italic */
    font-family: "Montserrat Italic", sans-serif;
    src: url("../assets/fonts/Montserrat/Montserrat-Italic.woff2") format("woff2");
}

@font-face { /* Montserrat, Bold */
    font-family: "Montserrat Bold", sans-serif;
    src: url("../assets/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2");
}

@font-face { /* Montserrat, Bold-Italic */
    font-family: "Montserrat BoldItalic", sans-serif;
    src: url("../assets/fonts/Montserrat/Montserrat-BoldItalic.woff2") format("woff2");
}

/* GENERAL */

body {
    display: flex;

    flex-direction: column;

    background-color: #1F1F1F;

    font-family: "Montserrat", sans-serif;

    color: #BFBFBF;
}

.wrapper {
    box-sizing: border-box;

    margin: 0 auto;

    width: 33.33%;
}

.container {
    margin-bottom: 10px;

    border-radius: 10px;

    background-color: #2F2F2F;

    padding: 10px;

    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.75));
}

a:not(.nav-link) { /* Alter links, ignore Navigation links. */
    color: #FFBFFF;

    text-decoration: none;

    transition: all 0.5s ease;
}

a:hover:not(.nav-link) { /* Alter hovered links, ignore Navigation links. */
    border-radius: 3px;

    background-color: #FFBFFF;

    padding: 1px 1px;

    color: #000000;
}

h1, h2, h3, h4, h5, h6, p { /* Override the default margin for H1, 2, 3, 4, 5, and 6, as well as Paragraph. */
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #FFF7FF;
}

hr {
    margin: 15px 0 15px 0;
}

@media (max-width: 1280px) { /* Set the Wrapper's width to 100% when the page is below 1280 pixels wide. */
    .wrapper {
        width: 100%;
    }
}

/* NAVIGATION */

nav.container {
    display: flex;

    padding: 0;

    overflow: hidden;
}

.nav-link {
    display: block;

    flex-grow: 1;

    padding: 10px;

    color: #FFBFFF;

    text-align: center;

    transition: all 0.5s ease;
}

.nav-link:hover, .nav-link.active:hover {
    background-color: #FFBFFF;

    color: #000000;
}

.nav-link.active {
    color: #FFF7FF;
}

/* FOOTER */

footer {
    text-align: center;
}